@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Hello World from COP 2839, I now have a working git repository on github!</a>.</p>
</div>
